<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog | <%= title  %> </title>
</head>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main>
    <form class="create-blog content">
        <label for="title">Title</label>
        <input type="text" id="title" required>
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" required>
        <label for="body">Blog body</label>
        <textarea type="text" id="body" required></textarea>
    
        <button type="submit">Submit blog</button>
    </form>
    </main>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>