<nav>
    <div class="siteTitle">
        <a href="/"><h1>Tech Blog</h1></a>
        <p>a tech blog for enthusiasts</p> 
    </div>
    <ul>                
        <li><a href="/">Home page</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create a new Blog</a></li>
    </ul>
</nav>